OPENAI_API_KEY=sk-proj-REPLACE_WITH_YOUR_OPENAI_API_KEY
OPENAI_MODEL=gpt-5.4-mini #gpt-4.1-mini
LLM_REPLY_FILTER_ENABLED=false #是否啟用LLM過濾器
LLM_REPLY_FILTER_MODEL=gpt-4.1-mini

TWITCH_TOKEN=oauth:REPLACE_WITH_YOUR_TWITCH_OAUTH_TOKEN
#TWITCH_TOKEN=oauth:REPLACE_WITH_ANOTHER_TWITCH_OAUTH_TOKEN

TWITCH_CHANNEL=topa_1120
#TWITCH_CHANNEL=dev_hikari

TWITCH_CLIENT_ID=REPLACE_WITH_YOUR_TWITCH_CLIENT_ID
#TWITCH_CLIENT_SECRET=REPLACE_WITH_YOUR_TWITCH_CLIENT_SECRET

TWITCH_BOT_ID=REPLACE_WITH_BOT_USER_ID
#TWITCH_BOT_ID=REPLACE_WITH_ANOTHER_BOT_USER_ID

TWITCH_OWNER_ID=REPLACE_WITH_CHANNEL_OWNER_USER_ID

TWITCH_BOT_NICK=帕寶

ALWAYS_REPLY=true
REPLY_PROBABILITY=0.5
GLOBAL_COOLDOWN_SECONDS=1 #15
USER_COOLDOWN_SECONDS=1 #60
MAX_INPUT_LENGTH=150
MAX_REPLY_LENGTH=120
